.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.247);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  gap: 30px;
  justify-items: center;
  width: 500px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: ease-in-out 0.5s;
}

.navbar p {
  margin-right: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar input {
  width: 700px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}

.navbar img {
  background-size: cover;
}

.navbar .logo {
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.navbar .create-btn {
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  height: 40px;
  width: 109px;
  padding: 9px 30px;
  border-radius: 10px;
  gap: 10px;
  margin: 0px 10px;
  color: white;
  cursor: pointer;
  border: none;
  transition: ease-in-out 0.5s;
}

.create-btn:hover{
  color: black;
}

.navbar .connect-btn {
  height: 40px;
  width: 146px;
  padding: 9px 30px;
  border-radius: 10px;
  background-color: hsl(270, 15%, 8%);
  border: 1px solid #c91cc3;
  color: #c91cc3;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.connect-btn:hover{
  color: white;
}

.navbar li a:hover{
color: #c965c7;
}
