.card {
  width: 180px;
  background-color: hsl(274, 14%, 19%);
  text-align: center;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
  position: relative;
}

.card img{
  justify-items: center;
}

.number{
  background-color: rgba(218, 24, 163, 1);
  color: white;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
