.top-seller-section{
  width: 1028px;
  height: 272px;
  margin: auto;
}

.ts-heading{
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}

.ts-heading h1{
  font-weight: 600;
  margin: 0;
}

.ts-card{
  display: flex;
  width: 988px;
  height: 200px;
  gap: 30px;
  margin-left: 20px;
}

.top-seller-section h1{
  font-family: Arial, Helvetica, sans-serif;
}