.load-btn{
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(218, 24, 163, 1);
  padding: 9px 30px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  margin: 60px auto 35px;
  background-color: hsla(270, 19%, 12%, 0.89);
  border: 1px solid rgba(218, 24, 163, 1);
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.load-btn:hover{
  background-color: rgba(218, 24, 163, 1);
  color: white;
}

.load{
  max-width: 300px;
  margin: auto;
}